<h1>Edit Artist Profile</h1>
<p>for <%= @artist.name %><p>

<%= form_for @artist do |f| %>
<%= f.label :name, 'artist name' %>
<br/>
<%= f.text_field :name %>
<br/>
<%= f.label :youtube_username, 'youtube username' %>
<br/>
<%= f.text_field :youtube_username %>
<br/>
<%= f.label :youtube_playlist_upload_id, 'youtube_playlist_upload_id'%>
<br/>
<%= f.text_field :youtube_playlist_upload_id, :disabled => true %>
<br/>
<%= f.label :instagram_username, 'instagram username' %>
<br/>
<%= f.text_field :instagram_username %>
<br/>
<%= f.label :instagram_id, 'instagram id'%>
<br/>
<%= f.text_field :instagram_id, :disabled => true %>
<br/>
<%= f.label :twitter_username, 'twitter username' %>
<br/>
<%= f.text_field :twitter_username %>
<br/>
<%= f.label :approved %>
<%= f.check_box :approved, :value => @artist.approved %> <br />
<%= f.submit 'save'%>
<% end %>