<h1>Edit Artist Profile</h1>
<p>for <%= @artist.name %><p>

<%= form_for @artist do |f| %>
<%= f.label :name, 'artist name' %>
<br/>
<%= f.text_field :name %>
<br/>

<%= f.fields_for :instagram_account do |ig| %>
  <%= ig.label :username, 'instagram username' %>
  <br/>
  <%= ig.text_field :username %>
<% end %>
<br/>

<%= f.fields_for :twitter_account do |t| %>
  <%= t.label :username, 'twitter username' %>
  <br/>
  <%= t.text_field :username %>
<% end %>

<br/>

<%= f.fields_for :youtube_account do |yt| %>
  <%= yt.label :username, 'youtube username' %>
  <br/>
  <%= yt.text_field :username %>
<% end %>
<br/>

<%= f.label :approved %>
<%= f.check_box :approved, :value => @artist.approved %> <br />
<%= f.submit 'save'%>
<% end %>