<h1>List of All Artists</h1>

<% if user_signed_in? && current_user.admin? %>
  <ul><h3>Admin Stuff</h3>
    <li><%= link_to "add artist", new_artist_path %></li>
    <li>List of artists that were suggested</li>
      <ul><% @artists_not_approved.each do |artist| %>
        <li><%= link_to artist.name, artist_path(artist) %> | <%= link_to "edit", edit_artist_path(artist) %></li>
        <% end %>
      </ul>  
    </ul>
    <hr/>
<% elsif user_signed_in? %>
  <%= link_to "suggest an artist", new_artist_path %>
<% end %>

<ul>
<% @artists.each do |artist| %>
  <li><%= link_to artist.name, artist_path(artist) %>
  <% if user_signed_in? && current_user.admin? %>
    | <%= link_to "edit", edit_artist_path(artist) %>
  <% end %>
    </li>
  <ul>
    <% if !artist.instagram.blank? %>
      <li>IG: <%= artist.instagram.username %></li>
    <% end %>
    <% if !artist.youtube_username.blank? %>
      <li>YT: <%= artist.youtube_username %></li>
    <% end %>
    <% if !artist.twitter_username.blank? %>
      <li>Twitter: <%= artist.twitter_username %></li>
    <% end %>
  </ul>
  </li>
<% end %>
</ul>

