<h1>List of All Artists</h1>

<% if user_signed_in? && current_user.admin? %>
  <%= link_to "add_artist", new_artist_path %>
<% end %>

<ul>
<% @artists.each do |artist| %>
  <li><%= link_to artist.name, artist_path(artist) %>
  <% if user_signed_in? && current_user.admin? %>
    | <%= link_to "edit", edit_artist_path(artist) %>
  <% end %>
    </li>
  <ul>
    <% if !artist.youtube_username.blank? %>
      <li>YT: <%= artist.youtube_username %></li>
    <% end %>
    <% if !artist.instagram_username.blank? %>
      <li>IG: <%= artist.instagram_username %></li>
    <% end %>
    <% if !artist.twitter_id.blank? %>
      <li>Twitter: <%= artist.twitter_id %></li>
    <% end %>
  </ul>
  </li>
<% end %>
</ul>

