<h1>New Artist</h1>

<%= form_for @artist do |f| %>
<% if user_signed_in? && current_user.admin? %>
<%= f.hidden_field :approved, :value => true %>
<% elsif user_signed_in? %>
<%= f.hidden_field :approved, :value => false %>
<% end %>
<%= f.label :name, 'artist name' %>
<br/>
<%= f.text_field :name %>
<br/>
<%= f.label :youtube_username, 'youtube username' %>
<br/>
<%= f.text_field :youtube_username %>
<br/>
<%= f.label :instagram_username, 'instagram username' %>
<br/>
<%= f.text_field :instagram_username %>
<br/>
<%= f.label :twitter_id, 'twitter username' %>
<br/>
<%= f.text_field :twitter_id %>
<br/>
<%= f.submit 'save'%>
<% end %>