<h1><%= @artist.name %> - show artist page</h1>
<% if user_signed_in? && current_user.admin? %>
<%= link_to "edit", edit_artist_path %>
<% end %>

<h3>Instagram</h3>
<p>Instagram Username: <%= @artist.instagram_account.username if !@artist.instagram_account.nil? %></p>
<p>Instagram id: <%= @artist.instagram_account.userid if !@artist.instagram_account.nil? %></p>
<%= link_to "#{@artist.name} instagram", artist_instagram_posts_path(@artist) %>

<h3>Twitter</h3>
<p>Twitter Name: <%= @artist.twitter_account.username if !@artist.twitter_account.nil? %></p>
<%= link_to "#{@artist.name} twitter", artist_twitter_tweets_path(@artist) %>


<h3>Youtube</h3>
<p>Youtube Name: <%= @artist.youtube_account.username if !@artist.youtube_account.nil? %></p>
<p>Youtube playlist_id: <%= @artist.youtube_account.playlist_upload_id if !@artist.youtube_account.nil? %></p>
<%= link_to "#{@artist.name} youtube", artist_youtube_videos_path(@artist) %>