<h1>Show Artist Page</h1>
<% if user_signed_in? && current_user.admin? %>
<%= link_to "edit", edit_artist_path %>
<% end %>

<p><%= @artist.name %></p>
<p>Youtube Name: <%= @artist.youtube_username %></p>
<p>Youtube ID: <%= @artist.youtube_playlist_upload_id %></p>
<p>Instagram Username: <%= @artist.instagram_username %></p>
<p>Instagram id: <%= @artist.instagram_id %></p>
<ul>
  <% @artist.display_instagram_images.each do |image| %>
  <li><img src="<%= image['thumbnail'] %>">
    <p><%= image['caption_text'] %></p>
    <p><%= image['caption_time'] %></p>
  </li>
  <% end %>
</ul>
<p>Twitter Name: <%= @artist.twitter_id %></p>