<h1><%= @artist.name %> - show artist page</h1>
<% if user_signed_in? && current_user.admin? %>
<%= link_to "edit", edit_artist_path %>
<% end %>

<h3>Instagram</h3>
<p>Instagram Username: <%= @artist.instagram_account.username %></p>
<p>Instagram id: <%= @artist.instagram_account.userid %></p>
<%= link_to "#{@artist.name} instagram", artist_instagram_posts_path(@artist) %>

<h3>Twitter</h3>
<p>Twitter Name: <%= @artist.twitter_account.username %></p>
<%= link_to "#{@artist.name} twitter", artist_twitter_tweets_path(@artist) %>

<h3>Youtube</h3>
<p>Name: <%= @artist.youtube_username %></p>
<p>ID: <%= @artist.youtube_playlist_upload_id %></p>
<%= link_to "#{@artist.name} youtube", artist_youtube_videos_path(@artist)%>