<h1><%= link_to @artist.name, artist_path(@artist) %> - instagram index</h1>

<h3>Instagram Username: <%= link_to "#{@artist.instagram.username}", "https://instagram.com/#{@artist.instagram.username}" %></h3>
<h3>Instagram id: <%= @artist.instagram.id %></h3>
<ul>
  <% @instagram_posts.each do |post| %>
  <li>
    <p><%= link_to image_tag(post['thumbnail']), "#{post['std_resolution']}" %></p>
    <p><%= post['caption_time'] %></p>
    <p><%= post['caption_text'] %></p>
    <p><%= post['likes'] %> likes</p>
    <p>type: <%= post['type'] %></p>
    <p><%= link_to "view in ig", "#{post['link']}" %></p> 
  </li>
  <% end %>
</ul>